/* header css start   */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header_left {
    display: flex;

    align-items: center;
}

.menu_icon {
    height: 3rem !important;
    margin-right: 2.3rem;
    cursor: pointer;
}

.logo {
    width: 10rem;
}

.header_middle {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.search_input {
    display: flex;
    gap: .8rem;
    align-items: center;
    background-color: #fff;
    width: 100%;
    justify-content: center;
    padding: .7rem 1.1rem;
    border: 2px solid #CFCFCF;
    border-radius: 5rem;
}

.search_input>input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
}

.search_icon {
    position: relative;
}

.header_icons {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.icon {
    scale: 1.7;
    cursor: pointer;
}

/* header css end  */




/* Main Page starts  */
.main_page {
    display: flex;
}

/* Sidebar Starts  */

.sidebar {
    align-self: flex-start;
    justify-content: flex-start;
    height: 100vh;
    position: sticky;
    top:5.9rem ;
    overflow-y: scroll;  
    overflow-x: hidden;  
    flex: 0.2;
    display: flex;
    flex-direction: column;
    
}

.sidebar_main_title {
    padding: .2rem 2rem;
    font-weight: 600;
}

.sidebar_row {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
}

.sidebar_icon {
    color: #606060;
    font-size: large !important;
}

.sidebar_title {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 500;
}

.sidebar_row:hover {
    background-color: lightgray;
}

.sidebar_row:hover>.sidebar_icon {
    color: black;
}

.sidebar>hr {
    margin-block: 1rem;
}

/* Sidebar Ends  */


/* Main Video Section Starts  */
.main_video_section {
    flex: 0.8;
    padding: 2rem 1rem;
    padding-left: 3rem;
    align-self: flex-start;
    background-color: #f9f9f9;

}
.videos_box{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
 
}
.videoCard{
    width: 35rem;
}
.thumbnail_img{
    object-fit: cover;
    width: 100%;    
    aspect-ratio: 16/9;
    border-radius: 1.5rem;
}
.video_info{
    display: flex;
    column-gap: 1.4rem;
    margin-top: 1rem;
}
.video_text>h4{
    font-size: 1.6rem;
}
.video_text>p{
    font-size: 1.6rem;
    color: gray;
}

/* Main Video Section Ends  */



/* App Page Ends  */


/* Search Page Starts  */

.searchPage{
    flex: 0.8;
    /* border:2px solid red; */
    background-color: #f9f9f9;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.searchPage_filter{
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;
    margin-bottom: 1rem;
}
.searchPage_filter>h2{
    margin-left: 1rem;
}

.channelRow{
    display: flex;
    align-items: center;
    width: 70%;
}
.channelRow_text{
    display: flex;
    flex-direction: column;
}
.channelRow_text>p{
    font-size: small !important;
    color: gray;
}
.channelRow_logo{
    height: 12rem !important;
    width: 12rem !important;
    margin: 1rem 6rem;
}


.videoRow{
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
    max-width: 100rem;
    /* background-color: red; */
}
.videoRow>img{
    object-fit: cover;
    /* width: 24.6rem; */
    width:40%;
    height: 20rem;
}
.videoRow_text{
    margin-left: 1.4rem;
}
.videoRow_description{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #606060;
}
.videoRow_headline{
    font-size: 1.2rem;
    color: #606060;
}
.videoRow_subs{
    background-color: lightgray;
    padding:0.2rem;
}
.videoRow_subsNumber{
    font-weight: bolder;
    color: rgb(84, 157, 211);
}


.searchPage>hr{
    margin: 2rem 0;
}
/* Search Page Ends  */